<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5" style="background-attachment: fixed" >
    <div class="container" >
        <div class="row" style="margin-left: 350px">
            <div class="copyright-text col-md-12 col-sm-12">
                <div class="col-md-6 col-sm-6">
                    <p style="margin-top: 35px">Copyright &copy; 2021 EMANAGE</p>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icon" style="margin-top: 5px">
                        <li><a href="#" class="fa fa-facebook-square" attr="facebook icon" style="color: black";></a></li>
                        <li><a href="#" class="fa fa-twitter" style="color: black";></a></li>
                        <li><a href="#" class="fa fa-instagram" style="color: black";></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

