<section xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="container bootstrap snippets bootdey autoScroll">
        <div class="profile card">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-thumbnail md-margin-bottom-10"  th:src="${company.getImageSource()}" alt="">
                        </div>
                        <div class="col-md-7 text-center">
                            <div class="">

                                <h2 th:text="${company.getName()}" ></h2>
                            </div>
                            <div>
                                <h3 th:text="${company.getMoto()}"></h3>
                            </div>
                            <div>
                                <h3 th:text="${company.getDescription()}"></h3>
                            </div>
                            <div>
                                <h3 th:text="'Owner: '+ ${company.getOwner()}"></h3>
                            </div>


                            <hr>
                            <div>
                                <h4 th:text="'Employees: '+${company.getEmployee_num()}"></h4>
                            </div>
                            <div>
                                <h4 th:text="'Interns: '+${company.getIntern_num()}"></h4>
                            </div>



                            <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${company.getCompanyUsername() } == ${username}">


                                <div class="row">
                                        <div class="col-md-12 text-right mt-5">
                                <a th:href="@{'/company-profile/edit/{id}' (id=${company.getId()})}" class="btn btn-md btn-info company-description float-right">Edit</a>


                                            <a  th:href="@{'/employees/{id}' (id=${company.getId()})}" class="btn btn-md float-right ml-3 btn-info">See employees</a>

                                </div>
                                </div>

                            </th:block>
                        </div>


                    </div>
                </div>
            </div>




        </div>
    </div>
    <br>

</section>