<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="margin: 0; padding: 0;">

<head>
    <meta charset="UTF-8"/>
    <title>EMANAGE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- OTHER CSS -->

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/custom-css.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.css">
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.css">
    <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../css/util.css">

    <!--COMPANIES-LIST CSS-->
    <!--<link rel="manifest" href="site.webmanifest">-->
    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">-->

    <!-- CSS here -->
   <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="assets/css/owl.carousel.min.css">-->
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <!--<link rel="stylesheet" href="assets/css/flaticon.css">-->
    <!--<link rel="stylesheet" href="assets/css/progressbar_barfiller.css">-->
    <!--<link rel="stylesheet" href="assets/css/gijgo.css">-->
   <!-- <link rel="stylesheet" href="assets/css/animate.min.css">-->
<!--   <link rel="stylesheet" href="assets/css/animated-headline.css">-->
<!--    <link rel="stylesheet" href="assets/css/magnific-popup.css">-->
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<!--    for back to top arrow-->
    <!--<link rel="stylesheet" href="assets/css/themify-icons.css">-->
<!--    <link rel="stylesheet" href="assets/css/slick.css">-->
<!--    <link rel="stylesheet" href="assets/css/nice-select.css">-->
     <link rel="stylesheet" href="assets/css/style.css">

<!--    for company-list preview-->


    <!-- PROFILE CSS-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/employee-profile-style.css" rel="stylesheet">


    <!-- MAIN CSS -->

    <link rel="stylesheet" href="../css/tooplate-style-other.css">
    <link rel="stylesheet" href="../css/tooplate-style.css">


    <!--COMPANY EMPLOYEE CSS-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/company-employees-style.css">


    <!-- About us-->
    <link rel="stylesheet" href="../css/about-us-style.css">

    <!-- Company profile css-->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/company-profile-style.css">




</head>

<body style="margin: 0; padding: 0;">

<!-- PRE LOADER -->
<!-- ? Preloader Start -->

<section class="preloader" style="display: none">
    <div class="spinner">

        <span class="spinner-rotate border"></span>

        </div>

    </div>


</section>


<header th:replace="/fragments/header"></header>

<section th:replace="${bodyContent}">

</section>

<footer th:replace="/fragments/footer"></footer>
<!-- Jquery Plugins, main Jquery -->
<script src="../assets/js/plugins.js"></script>

<!-- SCRIPTS -->
<script src="../js/jquery.js"></script>
<!--<script src="../js/jquery.js"></script>-->
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="../js/owl.carousel.min.js"></script>
<script src="../js/smoothscroll.js"></script>
<script src="../js/custom.js"></script>



    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/smoothscroll.js"></script>
<script src="../vendor/animsition/js/animsition.js"></script>
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.js"></script>
<script src="../vendor/select2/select2.js"></script>
<script src="../vendor/daterangepicker/moment.js"></script>
<script src="../vendor/daterangepicker/daterangepicker.js"></script>
<script src="../vendor/countdowntime/countdowntime.js"></script>
<script src="../js/main.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/autoscroll.js"></script>
<script src="../js/ImagePreview.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>




<!--<script src="../js/customTabs.js"></script>-->
<!-- JS here -->
<!--<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>-->
<!-- Jquery, Popper, Bootstrap -->
<!--<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>-->
<!-- Jquery Mobile Menu -->
<!--<script src="./assets/js/jquery.slicknav.min.js"></script>-->

<!-- Jquery Slick , Owl-Carousel Plugins -->
<!--<script src="./assets/js/owl.carousel.min.js"></script>-->
<!--<script src="./assets/js/slick.min.js"></script>-->
<!-- One Page, Animated-HeadLin -->
<!--<script src="./assets/js/wow.min.js"></script>-->
<!--<script src="./assets/js/animated.headline.js"></script>-->
<!--<script src="./assets/js/jquery.magnific-popup.js"></script>-->

<!-- Date Picker -->
<script src="./assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<!--<script src="./assets/js/jquery.nice-select.min.js"></script>-->
<!--<script src="./assets/js/jquery.sticky.js"></script>-->
<!-- Progress -->
<!--<script src="./assets/js/jquery.barfiller.js"></script>-->

<!-- counter , waypoint,Hover Direction -->
<!--<script src="./assets/js/jquery.counterup.min.js"></script>-->
<!--<script src="./assets/js/waypoints.min.js"></script>-->
<!--<script src="./assets/js/jquery.countdown.min.js"></script>-->
<!--<script src="./assets/js/hover-direction-snake.min.js"></script>-->

<!-- contact js -->
<!--<script src="./assets/js/contact.js"></script>-->
<!--<script src="./assets/js/jquery.form.js"></script>-->
<!--<script src="./assets/js/jquery.validate.min.js"></script>-->
<!--<script src="./assets/js/mail-script.js"></script>-->
<!--<script src="./assets/js/jquery.ajaxchimp.min.js"></script>-->


<script src="./assets/js/main.js"></script>




<!-- PROFILE-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>




<!-- COMPANY EMLOYEES-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>




<!-- COMPANY PROFILE-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>

</html>